html {
	height:100%; 
	font-family:Arial,Helvetica,sans-serif;font-size:12px;

}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,iframe {
	margin:0;
	padding:0;
	font-size:14px;
	color:#666;
}
a{
	color:#0B486B;
	text-decoration :none;
}
a:hover{
	color:#0B486B;	
	text-decoration :underline;
}
h1{
	margin-top:5px;
	margin-bottom:15px;
}
p{	
	line-height: 20px;
	font-size:12px;
}
input,textarea{
	margin-top:5px;
	margin-bottom:15px;
	padding:5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	border: 1px solid #CCC;
	
}
input.link{
	width:400px;
}
textarea.text{
	width:400px;
	height:45px;
}
input[type=submit]{
	
	background:#fff;
}
input[type=submit]:hover{
	
	background:#eee;
}
	
.status {
	padding: 8px 10px 5px 10px; 
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	text-shadow: 1px 1px 1px #fff; 
	overflow: auto;
	margin-bottom: 20px; clear: both;
}
.status img {
	float: left;
	padding-right: 5px;
}
.status p {
	padding: 0;
	margin: 0;
}
.status p span {
	font-weight: 700;
}
.status .closestatus {
	float: right;
	color: #fff; 
	text-align: center;
	margin-left: 10px;
}
.status .closestatus a {
	position: relative; 
	color: #fff; 
	text-decoration: none;
	 padding: 5px;
	width: 10px; 
	height: 10px; 
	display: block; 
	border-radius: 5px;
	 -moz-border-radius: 5px;
	 line-height: .6em; 
	top: -2px; 
	text-shadow: none;
}

.warning {
	border: 3px solid #BF9900;
	background: #FEEB9C;
}
.warning span {
	color: #BF9900;
}
.warning .closestatus a {
	background: #BF9900;
}
.warning .closestatus a:hover {
	background: #9B7C00;
}

.success {
	border: 3px solid #8EA534;
	background: #CBDA8F ;
}
.success span {
	color: #8EA534;
}
.success .closestatus a {
	background: #8EA534;
}
.success .closestatus a:hover {
	background: #829829;
}

.error {
	border: 3px solid #990000;
	background: #F5D0CD;
}
.error span {
	color: #990000;
}
.error .closestatus a {
	background: #990000;
}
.error .closestatus a:hover {
	background: #730D0D;
}

.info {
	border: 3px solid #2FADD7; 
	background: #92D6ED ;
}
.info span {
	color: #0E7A9F;
}
.info .closestatus a {
	background: #2FADD7;
}
.info .closestatus a:hover {
	background: #228DB0;
}

.radius {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.clear{clear:both}
