<% form_tag do %>
	<div class="form">		
		<h1>重设密码</h1>
		<p>
		    <span>当前密码</span><br />
		    <%= password_field_tag :oldpassword, params[:oldpassword]%><br/>
		</p>
		<p>
		    <span>新密码</span><br />
		    <%= password_field_tag :password, params[:password]%><br/>
		</p>
		<p>
		    <span>确认一下新密码</span><br />
		    <%= password_field_tag :password2, params[:password2]%><br/>
		</p>
		
		<%= submit_tag "提交" %>
		<div class="clear"></div>
	</div>
<% end %>