
	<div>	<br/>	
		<h1>关于早早</h1>
		  <p>早早 是一个分享互联网上新鲜，热门，有趣内容的服务。</p><br/>
		  <p>在早早，新闻完全由用户产生。</p>
		  <p>如果你对某一新闻感兴趣，你可以通过点击标题左侧的 +1 按钮进行投票。</p>
                  <p>当前，得票最多的新闻将出现在首页，得票越多排名越高。</p>
		<br/><br/>
		
		<div class="clear"></div>
	</div>

