</div>
<div id="footer">
	<p>早早 - 社会化新闻源,由你决定头条新闻  <a href="javascript:void(0)" id="ihatethissite" title="iHateThisSite"> -1 </a></p><p>Zaozao.net@2011</p>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22904311-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8f2abe9740a7b8fb6a9a05eb078fced6' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
